body {
    background-color: black;
    color: white;
    margin: 50px;
}


.container{
    height: 300px;
    width: 100%;
}

#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
}

.buttons{
   text-align: center;
    
}

button:hover {
    cursor: pointer;
}



